#myInput {
    background-repeat: no-repeat; /* Do not repeat the icon image */
    width: 100%; /* Full-width */
    font-size: 16px; /* Increase font-size */
    padding: 12px 20px 12px 40px; /* Add some padding */
    border: 1px solid #ddd; /* Add a grey border */
    margin-bottom: 12px; /* Add some space below the input */
}

#myList {
    border-collapse: collapse; /* Collapse borders */
    width: 100%; /* Full-width */
    border: 1px solid #ddd; /* Add a grey border */
    font-size: 18px; /* Increase font-size */
}

#myList  .item-list{
    margin-right: 20px
}
    

#myList th, #myList li {
    text-align: left; /* Left-align text */
    padding: 12px; /* Add padding */
}

#myList ul {
    /* Add a bottom border to all table rows */
    border-bottom: 1px solid #ddd; 
}
